node_modules
.DS_Store
.vscode
.husky/_
dist
dist-ssr
*.local
.env
.convex
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
playwright-report
test-results
tests/fixtures/*.jpg
tests/fixtures/*.jpeg
tests/fixtures/*.png
